{{!< chat-layout}}
{{> chat_alert_wrapper}}
<div class="chat-header-wrapper">
{{> chat_header}}
  <div class="chat-and-toolbar-wrapper">
    {{> chat_toolbar}}
    {{{threadMessageFeedHtml}}}
    <div class="chat-app">
      <div class="collaborators-container" id="collaborators-container"></div>
      {{> chat_content}}
      {{> chat_input}}
    </div>
  </div>
</div>


<div class="trpBlankPage"></div>
{{> set_initial_position}}
{{#unless useVueLeftMenu}}
  {{{ generateTroupeContext troupeContext }}}
  {{{ bootScript bootScriptName jsRoot=jsRoot }}}
{{/unless}}
{{> chat_upload}}
